# How do I complete my identity verification?

## How do I complete my identity verification?

You have to verify your account via the identity verification called know your customer (KYC) process.&#x20;

1. Select the profile icon and go to Personal Verification menu.
2. Process the verification, starting from Tier 1.&#x20;

Once the account is verified, you can deposit on LYOTRADE and use its services.
