# How to do KYB verification?

## How to do KYB verification?

If your company focuses on cryptocurrency trading and is looking for a fast, easy-to-use, and secure exchange, LYOTRADE is the right platform for you.&#x20;

Corporate entities can conduct trading activities on the LYOTRADE exchange for business and commercial purposes. To start, all you need to do is to complete our Know Your Business (KYB) application.

Prepare all legal and identity documents listed below for a faster KYB application:

* Certificate of Incorporation/ Registration
* Certificate of Incumbency
* Register of Shareholders
* Register of Directors
* Source of Funds Verification (This can be copies of the latest audited Company Accounts, proof of digital asset balances on other exchanges, or Bank statements showing sources of business revenue. Ensure the uploaded document covers the last 12 months.)

{% hint style="info" %}
Ultimate Beneficial Owners, Shareholders, and Directors of the onboarded company are required to fill out Individual KYCs that can be emailed directly from our KYB application, for them to fill their individual KYC and get verified.
{% endhint %}

Once the necessary documents are ready, you can start registering your Corporate Entity Account. Here are the steps:&#x20;

**Step 1:** Sign up on LYOTRADE

{% hint style="info" %}
If you are already registered on LYOTRADE, you will not be able to create another account with the same details as your existing account.
{% endhint %}

{% hint style="info" %}
Your KYB registration may be put on hold for review. When it's approved, you will be notified via email.
{% endhint %}

**Step 2:** Press on the Account Icon

**Step 3:**  Go to Entity Verification section and press on Start Now button under Corporate Tier 1 level, in order to begin your Entity verification process.

**Step 4:** Start your Corporate Entity Application
